<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h1>My market</h1>

    <h3>Filter</h3>
    <form novalidate ng-submit="fillTable()">
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label for="filterMinPrice">Min price</label>
                <input class="form-control" type="number" ng-model="filter.min_price" id="filterMinPrice">
            </div>
            <div class="form-group col-md-3">
                <label for="filterMaxPrice">Max price</label>
                <input class="form-control" type="number" ng-model="filter.max_price" id="filterMaxPrice">
            </div>
            <div class="form-group col-md-3">
                <label for="filterTitle">Title</label>
                <input class="form-control" type="text" ng-model="filter.title_part" id="filterTitle">
            </div>
        </div>
        <div>
            <button class="btn btn-success mt-2" type="submit">Perform filter</button>
            <button class="btn btn-primary mt-2" ng-click="resetFilter()">Reset filter</button>
        </div>
    </form>

    <h3 class="mt-3">List products</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Title product</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsPage.content">
            <td>{{p.title}}</td>
            <td>
                {{p.price}}
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Delete</button>
                <button class="btn btn-primary" ng-click="addProductToCart(p.id)">Add to cart</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                <a class="page-link" ng-click="fillTable(ProductsPage.number)">Previous</a>
            </li>
            <li ng-class="ProductsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'" ng-repeat="pageIndex in PaginationArray">
                <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
            </li>
            <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                <a class="page-link" ng-click="fillTable(ProductsPage.number + 2)">Next</a>
            </li>
        </ul>
    </nav>

    <h3>Cart</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Title product</td>
            <td>Price</td>
            <td>Count</td>
            <td>Sum</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsCart">
            <td>{{p.product.title}}</td>
            <td>
                {{p.product.price}}
            </td>
            <td>{{p.count}}</td>
            <td>{{p.product.price * p.count}}</td>
        </tr>
        </tbody>
    </table>

    <h3>Create new product</h3>
    <form novalidate ng-submit="submitCreateProduct()">
        <div class="form-group col-md-6">
            <label for="newProductTitle">Title</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="newProductCost">Price</label>
            <input class="form-control" type="text" ng-model="newProduct.cost" id="newProductCost">
        </div>
        <div>
            <button class="btn btn-success mt-2 mb-5">Save</button>
        </div>
    </form>
</div>
</body>
</html>